@font-face {
    font-family: "Inter-Regular";
    src: url("fonts/Inter-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

h1 {
    font-family: Playfair Display;
    font-size: 86px;
    font-weight: 500;
    line-height: 103px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 14px;
}

h4 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    margin-top: 20px;
    text-align: left;
}

img {
    width: 100%;
}

.navigation_mod {
    font-family: Playfair Display;
    font-size: 86px;
    font-weight: 600;
    line-height: 103px;
    letter-spacing: 0em;
    text-align: left;
}

.navigation {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
}

ul {
    list-style-type: none;
}

.title_modern_web_studio {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}

.title_bio,
.title_designers,
.title_testimonials,
.title_strong_point {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
}

.title_bio {
    text-align: right;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}

.title_designers {
    text-align: left;
}

.title_testimonials {
    text-align: right;
}

.title_strong_point {
    text-align: left;
}

.katya_mils {
    font-family: Playfair Display;
    font-size: 86px;
    font-weight: 500;
    line-height: 115px;
    letter-spacing: 0em;
    margin-bottom: 40px;
}

.art_director {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    margin-bottom: 30px;
}

.blockquote_the_more {
    font-family: Bitter;
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
}

.designers {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.website {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.blockquote_i_just {
    font-family: Bitter;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}

.title_strengths {
    font-family: Playfair Display;
    font-size: 86px;
    font-weight: 500;
    line-height: 86px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 15px;
}

.sides {
    font-family: Bitter;
    font-size: 34px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 100px;
}

.address {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}

.product {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}

.mod_media {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: right;
    color: #FFFFFF;
}

/*Блок навигации*/
.header {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 135px;
}

.header .menu {
    margin: 20px 10px;
}

.header a {
    text-decoration: none;
    color: #000;
}

/*Блок Промо*/
.promo {
    padding: 90px;
    background-image: url("img/mod.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promo-box {
    display: block;
    background-color: #FFFFFF;
    margin: 0 auto;
    max-width: 690px;
    height: 400px;
    width: auto;
}

/*Блок Биография*/
.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 80px;
    margin-bottom: 80px;
}

.photo-Katya-Mills {
    order: -1;
    margin-right: 20px;
    max-width: 571px;
    max-height: 840px;
}

.conteiner-biography {
    align-self: flex-start;
}

.conteiner-bio {
    margin-left: 70px;
    text-align: left;
}


/*Блок Дизайнеры*/

.conteiner-designers {
    display: grid;
    justify-content: center;
    padding-left: 1%;
    overflow: auto;
}

.designer {
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    grid-gap: 20px;
    overflow: auto;
}

.header-title_designers {
    margin-left: 12%;
    margin-bottom: 30px;
}

.box-jess-wonder-photo img {
    width: 572px;
    height: 538px;
}

.txt-designers {
    margin-left: 40%;
}

.photo-designers img {
    width: 336px;
    height: 440px;
    margin-top: 99px;
    left: 593.04px;
}

/*Блок Testimonials*/
.block-testimonials {
    display: grid;
    justify-content: center;
    margin-top: 80px;
}

.section-testimonials-conteiner {
    display: grid;
    grid-template-columns: 10% 45% 20% 30%;
    justify-content: center;
}

.title-testimonials {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    order: 3;
    justify-self: start;
    margin-left: 20px;
}

.cafe-photo {
    order: 2;
    justify-self: stretch;
}

.block-Website {
    display: grid;
    justify-self: center;
    order: 1;
}

.block-Website a {
    text-decoration: none;
    color: #000;
}

.websit {
    grid-row: 1;
    grid-column: 1;
    transform: rotate(-90deg);
    align-self: center;
}

.brand-image {
    grid-row: 2;
    grid-column: 1;
    transform: rotate(-90deg);
    align-self: center;
}

.creativity {
    grid-row: 3;
    grid-column: 1;
    transform: rotate(-90deg);
    align-self: center;
}

.blockquote-just-really {
    order: 4;
    margin-top: 40px;
    justify-self: start;
    text-align: center;
    font-family: Bitter;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
}

.cafe-photo img {
    order: 2;
    justify-self: stretch;
    max-width: 569px;
}

.blockquote-just-really img {
    max-width: 221px;
    margin-top: 25px;
    justify-self: center;
}

/*Блок Strong points*/
@supports (display: grid) {
    .section-strong-points {
        display: grid;
        justify-content: center;
        padding-left: 1%;
        overflow: auto;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .block-strong-points {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: 613px;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1%;
    }

    .header-strong-points {
        grid-column: 1/5;
        margin-left: 16%;
    }

    .block-strengths {
        margin-left: 30px;
        margin-right: 30px;
        align-items: center;
    }

    .section-strong-points img {
        width: 335px;
        height: 554px;
        justify-self: stretch;
    }
}


@supports not (display:flex) {
    .section-strong-points {
        padding-left: 1%;
        overflow: auto;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .block-strong-points {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .section-strong-points img {
        width: 335px;
        height: 554px;
    }

    .header-strong-points {
        margin-left: 16%;
        margin-bottom: 20px;
    }

    .block-strengths {
        margin-left: 30px;
        margin-right: 30px;
    }
}

/*Подвал сайта */
.block-footer {
    display: flex;
    background-color: black;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 135px;
}

.block-footer a {
    color: #ffffff;
}