/*Блок Strong points*/
@supports (display: grid) {
    .section-sp {
        display: grid;
        justify-content: center;
        padding-left: 2%;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .section-sp__content {
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
        justify-content: left;
        overflow: auto;
    }

    .section-sp__header {
        margin-left: 15%;
        margin-bottom: 2%;
    }

    .section-sp__header-title {
        @include Roboto;
        line-height: 28.13px;
        text-align: left;
    }

    .section-sp__block-strengths {
        margin-left: 30px;
        margin-right: 30px;
        align-items: center;
    }

    .section-sp img {
        width: 335px;
        height: 554px;
    }

    .section-sp__title-strengths {
        font-family: Playfair Display;
        font-size: 86px;
        font-weight: 500;
        line-height: 86px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 15px;
    }

    .section-sp__title-sides {
        font-family: Bitter;
        font-size: 34px;
        font-weight: 400;
        line-height: 41px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 100px;
    }
}

@media screen and (max-width: 450px) {
    .section-sp {
        display: grid;
        justify-content: center;
        padding-left: 1%;
        overflow: auto;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    
    .section-sp img {
        width: 310px;
        height: 450px;
    }

    .section-sp__header {
        margin-left: 20%;
        margin-bottom: 30px;
        @include Roboto18;
    }

    .section-sp__header-title {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.09px;
    }

    .section-sp__block-strengths {
        margin-left: 30px;
        margin-right: 30px;
        align-items: center;
        order: 1;
    }

    .section-sp__img-cafe {
        order: 3;
    }

    .section-sp__img-armchair {
        order: 2;
    }

    .section-sp__img-table {
        order: 4;
    }

    .section-sp__title-sides {
        font-family: Bitter;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 10%;
    }

    .section-sp__title-strengths {
        font-family: Playfair Display;
        font-size: 46px;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 15px;
    }
}

@supports not (display:flex) {
    .section-sp {
        padding-left: 1%;
        overflow: auto;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .section-sp__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .section-sp img {
        width: 335px;
        height: 554px;
    }

    .section-sp__title {
        margin-left: 16%;
        margin-bottom: 20px;
    }

    .section-sp__block-strengths {
        margin-left: 30px;
        margin-right: 30px;
    }
}
